
.classMenu {
    border-right: 1px solid #c4bcbc;
    width: 170.4px;
    height: 100vh;
    padding-top: 20px;
}

.class_member_name {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
}
.class_picture {
    width: 700px;
    margin-bottom: 30px;
}
.class_member_introduce {
    font-weight: bold;
}
.classMembers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(10%/2);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 70%;
}
.class_member_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}
.class_member {
    border: 1px solid #e0bfbf;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
}
.class_member_date {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}
.class_member_introduce {
    margin-bottom: 10px;
    margin-right: 20px;
}
.class_details_link {
    font-size: 12px;
    color: #009fff;
}
.listClassMenu__button--classMember {
    opacity: 1.0;
}
.listClassMenu__button--learningRecords {
    opacity: 0.6;
}