body {
    background-color: rgb(187,181,181,20%);
    width: 100%;
}
.listMenu__title {
    font-size: 16px;
    font-weight: bold;
    padding: 7px 7px;
}
/* main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 20px 0;
}
.logout_message {
    font-weight: bold;
    font-size: 60px;
}
.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_button {
    font-size: 14px;
    color: #fff;
    background-color: #1877f2;
    border-radius: 1000px;
    box-shadow: 3px 3px 10px #2733914d;
    padding: 5px;
    transition: 0.3s;
}
.back_button:hover {
    opacity: 0.6;
}